<!-- Header -->
<header id="header">
  <a href="/" class="logo">Git Lab Test</a>
</header>

<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <li class="active"><a href="/">This is Massively</a></li>
    <li><a href="generic">Generic Page</a></li>
    <li><a href="elements">Elements Reference</a></li>
  </ul>
  <ul class="icons">
    <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
  </ul>
</nav>