<div id="wrapper">
  {{> _header}}
  <div id="main">
    <div class="text-center nf-container mt-5">
      <div class="image fit">
        <img src="./images/RESPlogoBlu.png" alt="Response Logo">
      </div>
      <h1>{{message}}</h1>
      <h2>{{error.status}}</h2>
      <a href="/">Go Back Home</a>
    </div>
  </div>
  {{> _footer}}
</div>